@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 15px;
    /* background-color: #93FFD8; */
}
.leftSide{
    background-color: #F8F8FA;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 5px;
    height: 100vh;
}
.logo{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;

}
.leftSide hr{
    border: 2px solid #FFF;
}
.shop{
    padding-left: 5px;
    width: 120px;
}
.btn{
    display: none;
}
.logo button img{
    width: 25px;
    height: 25px;
}
.column{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
    cursor: pointer;
}
.column img{
    width: 40px;
}
.column > img{
    padding-left: 30px;
}
.leftSide button{
    cursor: pointer;
    border: none;
    background: none;
}
.side-btn > a{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 20px;
    width: 100%;
    height: 40px;
    font-family: "poppins";
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.column:hover{
    background-color: #CFFFDC;
    border-radius: 5px;
}
/* ***************************************************** */
/* right Side  */

.rightSide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 10px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    padding-right: 50px;
    padding-top: 20px;

}
.navbar img{
    width: 30px;
    height: 30px;
}
.dropdown{
    position: relative;
}

.sub-col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
}
.dropdown ul{
    list-style: none;
    position: absolute;
    top: 34px;
    right: 0;
    background-color: #EBEBFD;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.sub-col img{
    width: 20px;
    height: 20px;
}
.sub-col li a{
    text-decoration: none;
    color: black;
}
.sub-col:hover{
    background-color: #F8F8FA;
}
.dropdown button{
    background: none;
    border: none;
    cursor: pointer;
}
.dropdown button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    z-index: 1;
}
/* sub container  */
/* *********************** */
.sub-container{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}



/* hello  */
/* **************************** */
.hello{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    background-color: #FFFDF1;
    /* background-color: #161d5a; */
}
.hello-img{
    width: 15%;
    height: auto;
}
.hello-img img{
    width: 100%;
}
.hello-title{
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hello-title h2{
    font-family: 'poppins';
    font-size: 2rem;
}
.hello-title  span {
    color: #548CFF;
}
.hello-title p{
    font-family: 'poppins';
    font-weight: 200;
    font-size: 1rem;
}

/* info row  */
/* ************************ */
.info-row{
    width: 100%;
    flex-grow: 1;
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.4));
}
.right-box{
    width: 30%;
    flex-grow: 1;
    background-color: #F8F8FA;
    padding: 10px 15px 10px 10px ;
    border: 1px solid;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.2));

}
.box{
    width: 100%;
    height: 150px;
    background-color: #F8F8FA;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px 10px 10px ;
}
.states{
    width: 60%;
    background-color: #F8F8FA;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 0px 20px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.2));
}
.top-stat{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-left span{
    font-family: 'poppins';
    font-size: 1rem;
}
.top-right{
    width: 10%;
}
.top-right img{
    width: 100%;
}
.bottom-stat{
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 10px 10px 10px 10px;
}
.bottom-left , .bottom-right{
    width: 40%;
    height: auto;
    background-color: #CFFFDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 20px;
}
.bottom-left{
    width: 40%;
}
.bottom-left h2 , .bottom-right h2{
    font-family: 'poppins';
    font-size: 2rem;
    line-height: 2.5;
}
.bottom-left span , .bottom-right span{
    font-family: 'poppins';
    font-size: 2rem;
    font-weight: 200;
}
.bottom-right{
    width: 60%;
}



.box-img{
    width: 80px;
}
.box-img img{
    width: 100%;
}
.box-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box-title span{
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 200;
}
@media screen and (max-width: 768px){
    .hello{
        height: auto;
    }
    .hello-title h2{
        font-size: 1.2rem;
    }
    .hello-title p{
        font-size: 0.7rem;
    }
    .bottom-left h2, .bottom-right h2 {
        font-family: 'poppins';
        font-size: 1rem;
        line-height: 2.5;
    }
    .bottom-left span, .bottom-right span {
        font-family: 'poppins';
        font-size: 1rem;
        font-weight: 200;
    }
    .box-img {
        width: 40px;
    }
    .box-title span {
        font-size: 0.8rem;
        font-family: 'poppins';
        font-weight: 200;
    }
    .leftSide{
        width: 10%;
    }
    .shop{
        display: none;
    }
    .logo{
        padding-left: 0.313rem;
    }
    .column{
        justify-content: center;
    }
    .column > img{
        width: 30px;
        padding: 0;
    }
    .side-btn a {
        display: none;
    }
    .btn{
        display: block;
        padding-left: 20px;
    }
}
@media screen and (max-width: 414px){
    .leftSide button{
        padding: 0;
    }
    .column{
        padding: 0;
    }
    .column img {
        width: 31px;
    }
    .rightSide{
        gap: 50px;
    }
    .sub-container{
        gap: 30px;
        flex-grow: 0;
    }
    .hello-img{
        width: 30%;
    }
    .hello-title p{
        font-size: 0.8rem;
    }
    .info-row{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .states{
        width: 100%;
    }
    .right-box{
        width: 100%;
        flex-grow: 0;
    }
    .box{
        height: auto;
    }
}