@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 15px;
    background-color: #93FFD8;
}
.leftSide{
    background-color: #F8F8FA;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    height: 100vh;
}
.logo{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;

}
.leftSide hr{
    border: 2px solid;
}
.shop{
    padding-left: 5px;
    width: 120px;
}
.logo button img{
    width: 25px;
    height: 25px;
}
.column{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.column img{
    width: 60px;
}
.column > img{
    padding-left: 30px;
}
.leftSide button{
    cursor: pointer;
    border: none;
    background: none;
}
.column > a{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 20px;
    width: 100%;
    height: 40px;
    font-family: "poppins";
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.column:hover{
    background-color: #CFFFDC;
    border-radius: 5px;
}
/* ***************************************************** */
/* right Side  */

.rightSide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 10px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    padding-right: 50px;
    padding-top: 20px;

}
.navbar img{
    width: 30px;
    height: 30px;
}
.dropdown{
    position: relative;
}

.sub-col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
}
.dropdown ul{
    list-style: none;
    position: absolute;
    top: 34px;
    right: 0;
    background-color: #EBEBFD;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.sub-col img{
    width: 20px;
    height: 20px;
}
.sub-col li a{
    text-decoration: none;
    color: black;
}
.sub-col:hover{
    background-color: #F8F8FA;
}
.dropdown button{
    background: none;
    border: none;
    cursor: pointer;
}
.dropdown button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    z-index: 1;
}

.title{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    background-color: #fff;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
}
.title span{
    padding-left: 10px;
}
.title img{
    width: 40px;
}
.sub-container{
    background-color: #F8F8FA;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 15px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.4));
}
.father1{
    width: 100%;
    height: 250px;
    /* background-color: rgb(199, 40, 40); */
    display: flex;
    justify-content: space-around;
}
.child2{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.child2 > span{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
}
.child1{
    display: flex;
    border: 1px solid;
    flex-direction: column;
}
.child1 > span{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
}
.cc{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.first{
    width: 48%;
    background-color: #ffff;
    border-radius: 10px;
}
.father2{
    width: 100%;
    height: 200px;
    /* background-color: rgb(201, 55, 55); */
    display: flex;
    justify-content: space-around;
}

.son img{
    width: 50px;
    height: 50px;
}
.first-son1 , .first-son2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.first-son1 > div , .first-son2 > div{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.sontitle{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.first-son2{
    width: 50%;
}
.child3 , .child4{
    width: 25%;
    background-color: #ffff;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.child5{
    width: 40%;
    background-color: #ffff;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.child3 img , .child4 img{
    width: 50px;
    height: 50px;
}
.ch1{
    font-family: "poppins";
    padding-left: 20px;
    padding-top: 5px;
}
.ch2{
    background-color: #F8F8FA;
    display: flex;
    align-items: center;
    width: 90%;
    height:  70px;
    margin: auto;
    border-radius: 10px;
}
.chi1{
    padding: 10px;
    background-color: #F8F8FA;
    width: 90%;
    height: 150px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sontitl{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
